    table {
        background-color: black;
        text-align: center;
        padding: 5px;
    }
    form {
    color: orangered;
    text-align: center;
    margin: 5px;
    padding: 5px;
    }




